AUTH_LOGIN_EMAIL=admin@gmail.com
AUTH_LOGIN_PASSWORD=admin123
AUTH_JWT_SECRET=pon-una-clave-larga-random-de-32-caracteres-o-mas-bien-dificiles
AUTH_JWT_EXPIRES_IN=12h
AUTH_COOKIE_NAME=turneria_session

GOOGLE_CALENDAR_ID=family12598738477611453461@group.calendar.google.com
GOOGLE_CALENDAR_TIMEZONE=America/Argentina/Buenos_Aires
GOOGLE_CALENDAR_CLIENT_ID=
GOOGLE_CALENDAR_CLIENT_SECRET=
GOOGLE_CALENDAR_REFRESH_TOKEN=
GOOGLE_CALENDAR_ICS_URL=
NEXT_PUBLIC_GOOGLE_CALENDAR_EMBED_URL=
NEXT_PUBLIC_GOOGLE_CALENDAR_OPEN_URL=https://calendar.google.com/calendar/u/0?cid=ZmFtaWx5MTI1OTg3Mzg0Nzc2MTE0NTM0NjFAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ

NEXT_PUBLIC_USER_EMAIL=recepcion@turneria.app
